@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;700&family=Space+Grotesk:wght@400;500&display=swap");

@import "tailwindcss";

/* global style */

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0c;
  color: #f5f3f8;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav {
  font-family: "Chakra Petch", sans-serif;
}

::selection {
  background: #7c3aed;
  color: white;
}

/* Print Styles */

@media print {
  header,
  footer,
  nav,
  button {
    display: none !important;
  }

  body {
    background: white !important;
  }

  .certificate-print {
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 0;
    /* border: none !important; */
    box-shadow: none !important;
  }

  * {
    box-shadow: none !important;
  }
}
